textarea, input[type="text"], input[type="button"], input[type="submit"] {-webkit-appearance: none; border-radius: 0;}

body{	text-align: center;}

.description {
    max-width: 300px;
	text-align: center;
    margin: 10px auto;
}
.points {
    display:block;
	font-family: 'Consolas';
	height: 10px;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
    margin-top: 0px;
}

.word {
    display:block;
	font-family: 'Consolas';
	height: 80px;
	text-align: center;
	padding-top: 20px;
	font-size: 60px;
    margin-top: 0px;
}

.letters {
	width:  100%;
	background-color: white;
    display: inline-block;
}

.letter {
	font-family: 'Consolas';
    background-color: rgb(200, 200, 200);
    border: none;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

.bonus {
	font-family: 'Consolas';
    background-color: rgb(200, 200, 200);
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.image {
    width: 90%;
    margin: 0px auto;
}

.definition {
	padding-top: 60px;
	padding-bottom: 60px;
	width:  100%;
	background-color: coral;
	text-align: center;
	font-size: 40px;
}

.synonyms {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgba(80, 255, 255, 0.281);
	text-align: center;
	font-size: xx-large;
}

.sentences {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: coral;
	text-align: center;
	font-size: xx-large;
}

.btn {
        margin: 4px 2px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    padding: 16px 16px;
    font-size: 16px;
    cursor: pointer;
}
