
textarea, input[type="text"], input[type="button"], input[type="submit"] {-webkit-appearance: none; border-radius: 0;}

body{	text-align: center;}

.word {
    display:block;
	font-family: 'Consolas';
	width:  700;
	height: 150px;
	text-align: center;
	padding-top: 40px;
	font-size: 100px;
    margin-top: 0px;
}

.letters {
	width:  100%;
	background-color: white;
    display: inline-block;
}

.letter {
	font-family: 'Consolas';
    background-color: rgb(200, 200, 200);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

.bonus {
	font-family: 'Consolas';
    border: 8px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin: 20px 2px;
	cursor: pointer;
    border-radius: 50%;
}

.image {
    margin-top: 100px;
	max-width: 100%
}

.definition {
	padding-top: 60px;
	padding-bottom: 60px;
	width:  100%;
	background-color: coral;
	text-align: center;
	font-size: 40px;
}

.synonyms {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgba(80, 255, 255, 0.281);
	text-align: center;
	font-size: xx-large;
}

.sentences {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: coral;
	text-align: center;
	font-size: xx-large;
}
