

canvas {
	display: block;
}

html, body {
	width:  100%;
	height: 200%;
	margin: 0px;
	font-family: 'Roboto';
}
	
.word {
	font-family: 'Consolas';
	width:  100%;
	height: 150px;
	text-align: center;
	font-size: xx-large;
	padding-top: 40px;
	font-size: 100px
}

.letters {
	width:  100%;
	height: 65px;
	background-color: white;
	text-align: center;
	padding: 46px 0;
}

.letter {
	font-family: 'Consolas';
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    margin: 4px 2px;
	cursor: pointer;
}

.bonus {
	font-family: 'Consolas';
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    margin: 50px 11px;
	cursor: pointer;
    border-radius: 50%;
}

.image {
    margin-top: 100px;
	max-width: 100%
}

.bonus {

		height: 100px;
		width: 100px;
		border-radius: 50%;
		border:0;
		padding:0;
		font-size: 60px;
}

.definition {
	padding-top: 60px;
	padding-bottom: 60px;
	width:  100%;
	background-color: coral;
	text-align: center;
	font-size: 40px;
}

.synonyms {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgba(80, 255, 255, 0.281);
	text-align: center;
	font-size: xx-large;
}

.sentences {
	width:  100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: coral;
	text-align: center;
	font-size: xx-large;
}

#parent {
    line-height: 200px;
}

#parent img {
    vertical-align: middle;
}